  <header style="padding-bottom: 0.25rem;">
      <a href="https://potat0ast.com"><img style="margin-right:.5rem;float:left; border: 0px; max-width:10%;" src="/img/potatoAsToast.png">
  </a>
  <h1> Potat0ast&nbsp&nbsp––––––––––––––––––––––––––</h1>

    <nav style="padding-top:0.3rem;">
      {{ $current := . }}
  <ul>{{ range .Site.Menus.main }}
    <li>
      {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
      {{ $active = or $active (eq .Name $current.Title) }}
      {{ $active = or $active (and (eq .Name "Index") (eq $current.Section "posts")) }}
      {{ $active = or $active (and (eq .Name "Projects") (eq $current.Section "projects")) }}
      <a href="{{ .URL }}" {{ if $active }}aria-current="page"{{ end }}><b>{{ .Name }}</b></a>
    </li>
  {{ end }}
  </ul>
    </nav>
  </header>
  <hr>


